root = true

[*]
end_of_line = lf
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
[*.{yml,yaml,json,properties,prop,props,toml,conf,cfg,config,ini}]
indent_size = 2
max_line_length = off

[*.{xml,html,htm,xhtml,svg,txt,csv}]
max_line_length = off

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off